{% extends 'Base HTML/base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">
            Profile Setting
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <!-- Content here -->
      <div class="row">
        <form method="POST" novalidate enctype="multipart/form-data" name="signupForm" onsubmit="">
          {% csrf_token %}


          <div class="col-lg-8 offset-lg-2 card card-md">


            <div class="card-body">
              <div class="row row-cards">
                <div class="col-md-4">
                  <img class="rounded" src="{{ profile.mc_profile_img.url }}" width="180px"
                    alt="{{user.first_name}} {{user.last_name}}">

                </div>
                <div class="col-md-5">
                  <div class="mt-5">
                    <div class="form-label">Change Image</div>
                    
                    <input type="file" name="img" class="form-control" accept="image/*">
                  </div>
                  
                </div>
                </div>
                <div class="row row-cards mt-4">
                  <div class="col-md-5">
                    <div class="mb-3">
                      <label class="form-label">First Name</label>
                      <input type="text" class="form-control" name="fname"  value="{{ user.first_name }}" placeholder="Enter First name">
                      <div id="message-firstname" class="invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-md-5 offset-md-1">
                    <div class="mb-3">
                      <label class="form-label">Last Name</label>
                      <input type="text" class="form-control" name="lname"  value="{{ user.last_name }}"  placeholder="Enter Last name">
                      <div id="message-lastname" class="invalid-feedback"></div>
                    </div>
                  </div>
                </div>
                <div class="row row-cards">
                  <div class="col-md-5">
                    <div class="mb-3">
                      <label class="form-label">Email address</label>
                      <input type="email" class="form-control" name="mail" value="{{ user.email}}"  disbaled>
                      <div id="message-email" class="invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-md-5 offset-md-1">
                    <div class="mb-3">
                      <label class="form-label">Employee Id</label>
                      <input type="text" class="form-control " name="empid" value="{{ profile.mc_employee_id }}" placeholder="TMC3423" >
                      <div id="message-empid" class="invalid-feedback"></div>
                    </div>
                  </div>
                </div>
                <h3 class="mt-3">Location</h3>
                <div class="row row-cards">
                  <div class="col-md-5">
                    <div class="mb-3">
                      <label class="form-label">City</label>
                      <input type="text" class="form-control " name="city" value="{{ profile.mc_muncipal_co }}" placeholder="Enter City">
                      <div id="message-city" class="invalid-feedback"></div>
                    </div>
                  </div>
                  <div class="col-md-5 offset-md-1">
                    <div class="mb-3">
                      <label class="form-label">Municipality</label>
                      <input type="text" class="form-control" name="municipal" value="{{ profile.mc_muncipal_co }}" placeholder="Enter Municipality">
                      <div id="message-municipal" class="invalid-feedback"></div>
                    </div>
                    
                  </div>
                </div>

                <div class="row row-cards">

                  <div class="col-md-4 offset-md-7">

                    <div class="form-footer">
                      <button type="submit" class="btn btn-primary w-100">Update account</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock content %}
