{% load static %}
<div class="modal-header">
  <h5 class="modal-title">Select Folder</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
  ></button>
</div>
<div class="modal-body">
  <div class="row mb-3 align-items-end">
    <!-- AJAX Part select folder -->
    <div class="col-auto">
      {% for folder in desk_single.folders_set.all%}
      <a
        href="#"
        id="folder-modal-id_{{folder.id}}"
        class="avatar avatar-upload rounded folder-modal-list"
      >
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <img
          src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-folder-ui-essential-kmg-design-flat-kmg-design.png"
        />
        <span class="avatar-upload-text">{{folder.folder_name}}</span>
      </a>
      {% endfor %}
    </div>

    <div class="col-auto">
      <a
        href="#"
        id="folder-modal-deskID_{{desk_single.id}}"
        class="avatar avatar-upload rounded folder-modal-add-button"
        data-bs-toggle="modal"
        data-bs-target="#modal-add-folder"
      >
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        <span class="avatar-upload-text">Add</span>
      </a>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Grievances</h3>
  </div>
  <div
    class="list-group list-group-flush overflow-auto"
    style="max-height: 35rem"
  >
    {% for gri in desk_single.desk_gri_files.all %} 
      {% for status in gri.status_set.all%} 
        {% if status.status_active%} 
          {% if status.status_name == "In Progress" %}
            <div class="list-group-item bg-blue-lt">
          {% elif status.status_name == "Complete" %}
            <div class="list-group-item bg-green-lt">
          {% elif status.status_name == "Rejected" %}
            <div class="list-group-item bg-red-lt">
          {% elif status.status_name == "Pending" %}
            <div class="list-group-item bg-yellow-lt">
          {% endif%} 
        {% endif %} 
      {% endfor %}

            <div class="row">
              <div class="col-auto">
                <a href="#">
                  <span class="avatar">
                    {% if gri.gri_category.cat_name == "Garbage" %}
                    <span class="bg-green-lt avatar">
                      <!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                      <!-- Download SVG icon from http://tabler-icons.io/i/trash -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <line x1="4" y1="7" x2="20" y2="7" />
                        <line x1="10" y1="11" x2="10" y2="17" />
                        <line x1="14" y1="11" x2="14" y2="17" />
                        <path
                          d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"
                        />
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                      </svg>
                    </span>
                    {% elif gri.gri_category.cat_name == "POTHOLE" %}
                    <span class="bg-blue-lt avatar">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-atom-2"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <circle cx="12" cy="12" r="3"></circle>
                        <line x1="12" y1="21" x2="12" y2="21.01"></line>
                        <line x1="3" y1="9" x2="3" y2="9.01"></line>
                        <line x1="21" y1="9" x2="21" y2="9.01"></line>
                        <path d="M8 20.1a9 9 0 0 1 -5 -7.1"></path>
                        <path d="M16 20.1a9 9 0 0 0 5 -7.1"></path>
                        <path d="M6.2 5a9 9 0 0 1 11.4 0"></path>
                      </svg>
                    </span>
                    {% endif %}
                  </span>
                </a>
                
              </div>
              <div class="col text-truncate">
                <div class="d-flex">
                  <a href="#" class="text-body d-block" style="margin-right: auto;">{{ gri.gri_title }}</a>
                    {% for status in gri.status_set.all%}
                      {% if status.status_active%}
                        {% if status.status_name == "In Progress" %}
                        <div><span class="badge bg-primary">{{status.status_name}}</span></div>
                        {% elif status.status_name == "Complete" %}
                        <div><span class="badge bg-success">{{status.status_name}}</span></div>
                        {% elif status.status_name == "Rejected" %}
                        <div><span class="badge bg-danger">{{status.status_name}}</span></div>
                        {% elif status.status_name == "Pending" %}
                        <div><span class="badge bg-yellow">{{status.status_name}}</span></div>
                        {% endif%}
                      {% endif %}
                    {% endfor %}
                  </div>
                <div class="text-muted text-truncate mt-n1">{{ gri.gri_location }}</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          Cancel
        </a>
        <a href="#" id="move-to-desk-button" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
          <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
          Move Here
          <svg
            xmlns="http://www.w3.org/2000/svg"
            style="margin-left: 10px; margin-right: 0"
            class="icon"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="5" y1="12" x2="19" y2="12" />
            <line x1="13" y1="18" x2="19" y2="12" />
            <line x1="13" y1="6" x2="19" y2="12" />
          </svg>
        </a>
      </div>
      <script src="{% static 'js/MoveGrievance.js' %}"></script>
    {% comment %} </div>
  </div>
</div> {% endcomment %}
