{% load static %}
{% for desk in desk_list %}
<div class="col-auto">
  <a
    href="#"
    id="modalDeskID_{{desk.id}}"
    class="avatar avatar-upload rounded modal_desk_icon"
    data-bs-toggle="modal"
    data-bs-target="#modal-select-folder"
  >
    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      x="0px"
      y="0px"
      width="24"
      height="24"
      viewBox="0 0 172 172"
      style="fill: #000000"
    >
      <g
        fill="none"
        fill-rule="nonzero"
        stroke="none"
        stroke-width="1"
        stroke-linecap="butt"
        stroke-linejoin="miter"
        stroke-miterlimit="10"
        stroke-dasharray=""
        stroke-dashoffset="0"
        font-family="none"
        font-weight="none"
        font-size="none"
        text-anchor="none"
        style="mix-blend-mode: normal"
      >
        <path d="M0,172v-172h172v172z" fill="none"></path>
        <g fill="#3498db">
          <path
            d="M3.44,27.52v3.44v20.64h6.88v92.88h20.64v-92.88h68.8v79.12v3.44v10.32h6.88v-10.32h48.16v10.32h6.88v-10.32v-3.44v-79.12h6.88v-24.08zM10.32,34.4h151.36v10.32h-2.86219c-0.37149,-0.0614 -0.75054,-0.0614 -1.12203,0h-53.91797c-0.37149,-0.0614 -0.75054,-0.0614 -1.12203,0h-74.55797c-0.37149,-0.0614 -0.75054,-0.0614 -1.12203,0h-12.63797c-0.37149,-0.0614 -0.75054,-0.0614 -1.12203,0h-2.89578zM17.2,51.6h6.88v86h-6.88zM106.64,51.6h48.16v20.64h-48.16zM130.72,58.48c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM106.64,79.12h48.16v20.64h-48.16zM130.72,86c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44zM106.64,106.64h48.16v20.64h-48.16zM130.72,113.52c-1.89986,0 -3.44,1.54014 -3.44,3.44c0,1.89986 1.54014,3.44 3.44,3.44c1.89986,0 3.44,-1.54014 3.44,-3.44c0,-1.89986 -1.54014,-3.44 -3.44,-3.44z"
          ></path>
        </g>
      </g>
    </g>
  </svg>
  <span class="avatar-upload-text">{{ desk.desk_name }}</span>
  </a>
</div>
{% endfor %}

<div class="col-auto">
  <a href="#" class="avatar avatar-upload rounded" id="add-desk-button" data-bs-toggle="modal"
    data-bs-target="#modal-add-desk">
    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
      stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <line x1="12" y1="5" x2="12" y2="19"></line>
      <line x1="5" y1="12" x2="19" y2="12"></line>
    </svg>
    <span class="avatar-upload-text">Add</span>
  </a>
</div>
<script src="{% static 'js/DisplayFolderModal.js' %}"></script>