{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-xl">
<div class="card sticky-top">
    <ul class="nav nav-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-home-ex2" class="nav-link active" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
          <!-- SVG icon code with class="me-2" -->
          <!-- Download SVG icon from http://tabler-icons.io/i/dashboard -->
	        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="13" r="2" /><line x1="13.45" y1="11.55" x2="15.5" y2="9.5" /><path d="M6.4 20a9 9 0 1 1 11.2 0z" /></svg>
          Dashboard</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-profile-ex2" class="nav-link" data-bs-toggle="tab"><!-- Download SVG icon from http://tabler-icons.io/i/user -->
          <!-- SVG icon code with class="me-2" -->
          <!-- Download SVG icon from http://tabler-icons.io/i/files -->
	        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 3v4a1 1 0 0 0 1 1h4" /><path d="M18 17h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h4l5 5v7a2 2 0 0 1 -2 2z" /><path d="M16 17v2a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h2" /></svg>
          Grieviance</a>
      </li>
      
    </ul>
    <div class="card-body sticky-top">
      <div class="tab-content">
        <div class="tab-pane active show" id="tabs-home-ex2">
          <div class="row row-cards">
              <div class="col-xl-4">
                
                <div class="card d-flex flex-column">
                    <a href="#">
                      <img class="card-img-top" src="{% static '/static/photos/36e273986ed577b8.jpg' %}" alt="How do you know she is a witch?">
                    </a>
                    <div class="card-body d-flex flex-column">
                      <h3 class="card-title"><a href="#">How do you know she is a witch?</a></h3>
                      <div class="text-muted">Are you suggesting that coconuts migrate? No, no, no! Yes, yes. A bit. But she's got a wart. You ...</div>
                      <div class="d-flex align-items-center pt-4 mt-auto">
                        <span class="avatar" style="background-image: url(...)"></span>
                        <div class="ms-3">
                          <a href="#" class="text-body">Maryjo Lebarree</a>
                          <div class="text-muted">3 days ago</div>
                        </div>
                        <div class="ms-auto">
                          <a href="#" class="icon d-none d-md-inline-block ms-3 text-muted">
                            <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                            <!-- SVG icon code -->
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>

            
        </div>
        <div class="tab-pane" id="tabs-profile-ex2">
            <div class="row row-cards">
                <div class="col-xl-6">
                    <div class="card d-flex flex-column">
                        <div class="row row-0 flex-fill">
                          <div class="col-md-5">
                            <a href="#">
                              <img src="{% static '/static/photos/75b555b99d5b38c4.jpg' %}" class="w-100 h-100 object-cover" alt="Card side image">
                            </a>
                          </div>
                          <div class="col">
                            <div class="card-body">
                              <h3 class="card-title"><a href="#">Shut up!</a></h3>
                              <div class="text-muted">Burn her! How do you know she is a witch? You don't frighten us, English pig-dogs! Go and boil yo...</div>
                              <div class="d-flex align-items-center pt-4 mt-auto">
                                <span class="avatar" style="background-image: url(...)"></span>
                                <div class="ms-3">
                                  <a href="#" class="text-body">Egan Poetz</a>
                                  <div class="text-muted">3 days ago</div>
                                </div>
                                <div class="ms-auto">
                                  <a href="#" class="icon d-none d-md-inline-block ms-3 text-red">
                                    <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                    <!-- SVG icon code -->
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tabs-settings-ex2">
          <div>Donec ac vitae diam amet vel leo egestas consequat rhoncus in luctus amet, facilisi sit mauris accumsan nibh habitant senectus</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}