{% load static %}
{% for folder in desk_single.folders_set.all%}
<div class="col-auto">
  <a
    href="#"
    id="folder_id_{{folder.id}}"
    class="avatar avatar-upload desk rounded select-folder"
  >
    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
    <img
      class="folder-icon"
      src="https://img.icons8.com/external-kmg-design-flat-kmg-design/344/000000/external-folder-ui-essential-kmg-design-flat-kmg-design.png"
    />
    <span class="avatar-upload-text">{{folder.folder_name}}</span>
  </a>
</div>
{% endfor %}
<div class="col-auto">
  <a
    href="#"
    class="avatar avatar-upload desk rounded"
    data-bs-toggle="modal"
    data-bs-target="#workspace-add-folder"
  >
    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
    <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      id="desk-icon"
      class="icon"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <line x1="12" y1="5" x2="12" y2="19" />
      <line x1="5" y1="12" x2="19" y2="12" />
    </svg>
    <span class="avatar-upload-text">Add</span>
  </a>
</div>
<script src="{% static 'js/WorkSpaceSelectFolder.js' %}"></script>
