{% load static %}
<div class="page-wrapper">
  <div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        <div class="col">
          <h2 class="page-title">Search results</h2>
          <div class="text-muted mt-1">About 2,410 result (0.19 seconds)</div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-body">
    <div class="container-xl">
      <div class="row mb-3 align-items-end">
        {% for desk in desk_list %}
          <div class="col-auto mb-3">
            <a
              href="#"
              class="avatar avatar-upload desk rounded select-desk"
              id="deskID_{{desk.id}}"
            >
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns:svgjs="http://svgjs.com/svgjs"
                width="512px"
                height="512px"
                x="0"
                y="0"
                viewBox="0 0 512 512"
                style="enable-background: new 0 0 512 512"
                xml:space="preserve"
                id="desk-icon"
              >
                <g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M480.452,128.258h-16.035c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h16.035c9.125,0,16.548,7.424,16.548,16.549    v192.387c0,9.125-7.423,16.549-16.548,16.549H79.644c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h400.808    c17.396,0,31.548-14.152,31.548-31.549V159.807C512,142.409,497.848,128.258,480.452,128.258z"
                        fill="#4294ff"
                        data-original="#000000"
                        class=""
                      ></path>
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M432.356,128.258H31.548C14.152,128.258,0,142.409,0,159.807v192.387c0,17.396,14.152,31.549,31.548,31.549h16.035    c4.142,0,7.5-3.357,7.5-7.5s-3.358-7.501-7.5-7.501H31.548c-9.125,0-16.548-7.424-16.548-16.549V159.807    c0-9.125,7.423-16.549,16.548-16.549h400.808c4.142,0,7.5-3.357,7.5-7.5S436.498,128.258,432.356,128.258z"
                        fill="#4294ff"
                        data-original="#000000"
                        class=""
                      ></path>
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M231.952,176.354h-72.661v-0.516c0-8.556-6.96-15.517-15.516-15.517H111.71c-8.556,0-15.516,6.961-15.516,15.517v0.516    h-8.532c-12.976,0-23.532,10.557-23.532,23.532v128.259c0,12.976,10.557,23.532,23.532,23.532h144.29    c12.976,0,23.532-10.557,23.532-23.532V199.886C255.484,186.911,244.927,176.354,231.952,176.354z M111.193,175.839    c0-0.285,0.231-0.517,0.516-0.517h32.065c0.285,0,0.516,0.231,0.516,0.517v128.258c0,0.285-0.231,0.517-0.516,0.517h-32.065    c-0.285,0-0.516-0.231-0.516-0.517V175.839z M240.483,328.145c0,4.705-3.828,8.532-8.532,8.532H87.661    c-4.704,0.001-8.532-3.826-8.532-8.531V199.886c0-4.705,3.828-8.532,8.532-8.532h8.532v112.742c0,8.556,6.96,15.517,15.516,15.517    h32.065c8.556,0,15.516-6.961,15.516-15.517V191.354h72.661c4.705,0,8.532,3.827,8.532,8.532V328.145z"
                        fill="#4294ff"
                        data-original="#000000"
                        class=""
                      ></path>
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M215.919,208.419h-32.064c-4.142,0-7.5,3.357-7.5,7.5v32.064c0,4.143,3.358,7.5,7.5,7.5h32.064c4.142,0,7.5-3.357,7.5-7.5    v-32.064C223.419,211.776,220.061,208.419,215.919,208.419z M208.419,240.482h-17.064v-17.064h17.064V240.482z"
                        fill="#4294ff"
                        data-original="#000000"
                        class=""
                      ></path>
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M215.919,304.612h-32.064c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h32.064c4.142,0,7.5-3.357,7.5-7.5    S220.061,304.612,215.919,304.612z"
                        fill="#4294ff"
                        data-original="#000000"
                        class=""
                      ></path>
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M215.919,272.549h-32.064c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h32.064c4.142,0,7.5-3.357,7.5-7.5    S220.061,272.549,215.919,272.549z"
                        fill="#4294ff"
                        data-original="#000000"
                        class=""
                      ></path>
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M440.371,200.403h-24.564v-24.564c0-4.143-3.358-7.5-7.5-7.5h-96.194c-4.142,0-7.5,3.357-7.5,7.5v8.532h-0.516    c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h0.516v17.064h-0.516c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h0.516V248.5    h-0.516c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h0.516v17.064h-0.516c-4.142,0-7.5,3.357-7.5,7.5s3.358,7.5,7.5,7.5h0.516    v8.532c0,4.143,3.358,7.5,7.5,7.5h24.564v24.564c0,4.143,3.358,7.5,7.5,7.5h96.194c4.142,0,7.5-3.357,7.5-7.5V207.903    C447.871,203.76,444.513,200.403,440.371,200.403z M336.677,296.596h-17.064V183.339h17.064V296.596z M351.678,183.339h49.129    v113.258h-49.129V183.339z M432.871,328.661h-81.194v-17.064h56.629c4.142,0,7.5-3.357,7.5-7.5v-88.693h17.065V328.661z"
                        fill="#4294ff"
                        data-original="#000000"
                        class=""
                      ></path>
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <path
                        d="M376.242,200.404c-4.142,0-7.5,3.357-7.5,7.5v16.032c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.357,7.5-7.5v-16.032    C383.742,203.76,380.384,200.404,376.242,200.404z"
                        fill="#4294ff"
                        data-original="#000000"
                        class=""
                      ></path>
                    </g>
                  </g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                  <g xmlns="http://www.w3.org/2000/svg"></g>
                </g>
              </svg>
              <span class="avatar-upload-text">{{desk.desk_name}}</span>
            </a>
          </div>
        {% endfor %}
        <div class="col-auto mb-3">
          <a
            data-bs-toggle="modal"
            data-bs-target="#workspace-add-desk"
            href="#"
            class="avatar avatar-upload desk rounded"
          >
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              id="desk-icon"
              class="icon"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <line x1="12" y1="5" x2="12" y2="19" />
              <line x1="5" y1="12" x2="19" y2="12" />
            </svg>
            <span class="avatar-upload-text">Add</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/WorkSpaceSelectDesk.js' %}"></script>
